.nav{
    font-size:16vpx;
    background-color: #7EA8DF;
    width:auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top:0.4rem;
    padding-bottom:0.4rem;
    margin-top:0px;
    
}

body{
   background-color: #ffffff;
   
}
.boxes{
    background-color: #7EA8DF;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.wrapper{
    display: grid;
    grid-template-columns: 30vw auto minmax(300px, 30vw) 40px;
    grid-auto-rows: minmax(100px, audo);
}

.main-box{
    grid-column:  2 / 3; 
    grid-row: 1;
}

.secondary-box{
    grid-column: 2 / 3;
    grid-row: 2;
    /*width: minmax(auto, 80vw);
    height: 40vw;
    max-height: 530px;
    */
}


.footer-box{
    grid-column: 2 / 3;
    grid-row: 3;
}